
.color-ws{
    color: whitesmoke;
}
.main-box{
    background: #0050bb ;
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 12rem;
}
.heading{
    margin: 1rem 0;
}
#captcha{
    width: 10rem;
    padding: 0.7rem 1.2rem;
    font-size: 16px;
    letter-spacing: 4px;
    font-family: cursive;
    border: 0;
    outline: 0;
}
.captcha-box{
    background: whitesmoke;
}
.myIcon{
    color: #0050bb;
    font-size: 1.2rem;
    margin: 0.7rem;   
    cursor: pointer; 
}
.user-input{
    margin: 1rem 0;
}
#userInput{
    width: 13.3rem;
    padding: 0.7rem 1rem;
    font-size: 17px;
    margin-top: 0.3rem;
    letter-spacing: 3px;
    border: 0;
    outline: 0;
}
#message{
    margin: 0;
    font-size: 15px;
}
#btn{
    font-size: 15px;
    padding: 0.7rem 1.4rem;
    border: 0;
    outline: 0;
    border-radius: 5px;
    letter-spacing: 1px;
    font-family: system-ui;
    font-weight: bold;
    background: linear-gradient(45deg, #fbe34a, #36fbcb);
}
.status{
    margin-top: 1rem;
}